.logo {
    background-color: rgb(206, 206, 206);
    width: 20%;
    margin-bottom: 10px;
    float: left;
    margin-right: 0.5%;
    padding: 20px;
}
.nav {
    margin-bottom: 10px;
    background-color: rgb(206, 206, 206);
    width: calc(79% - 80px);
    float: right;
    padding: 20px;
}
.cadastro{
    background-color: lightskyblue;
    clear: both;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.cadastrar{
    background-color: greenyellow;
    clear: both;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.esquerda{
    float: left;
}
.direita{
    float:right;
}
form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.home {
    float: left;
    margin-right: 30px;
}

.produtos {
    float: left;
    margin-right: 30px;
}

.quemsomos {
    float: left;
    margin-right: 30px;
}

.entrar {
    float: right;
}
div, button{
    border-radius: 10px;
}
.center{
    text-align: center;
    clear: both;
    padding: 13px; 
}